<h1> Write a authentication</h1>
<%= simple_form_for @authentication do |f|%>
    <%= f.input :user_name %>
    <%= f.input :user_adress %>
    <%= f.input :phone_number %>
    <%= f.submit 'Submit'%>
<% end %>
